.recipe-detail-step-container {
    background-color: whitesmoke;
    margin: 10px auto;
    /* background-color: white; */
    padding: 4px;
    width: 90%;
    border-radius: 12px;
    /* box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.85); */
}

/* .recipe-detail-step-container h3 {
    margin: 0;

} */

.step-header {
    margin: 5px 0;
    font-size: x-large;
}

.step-body {
    margin: 5px 0;
    margin-left: 2vw;
    margin-top: 2vh;
}