.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA1VVbxh_90S4nGmMXQ-NejQdH1yGoUH39pJhx-qWSSA&usqp=CAU&ec=48600112');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;;
    height: 80vh;
    margin: 0;
    padding: 0;
   }
form {
  margin-top: 3%;
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  border-radius: 3%;;
}
.title {
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    border: solid brown 2px;
    margin: 0 auto;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRU2FFV8O1_trWkA9U2xi4jQRNvgOpPwtHaRcNVG6Xgw&usqp=CAU&ec=48600112')
}
 input, label {
    width: 70%;
    height: 40px;
 }
 label {
    margin-top: 2%;
 }