*{
    border: 1px solid red;
}
.recipes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
}
.recipe-card{
    display: grid;
    background-color: gray;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.recipe-card-button{
    padding: 0px;
    margin: 0px;
}