form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
}
.title {
    width: 80vw;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    border: solid brown 2px;
    margin: 0 auto;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}