* {
  border: 0px solid red;
  text-decoration: none;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-width: 480px;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  background-image: url("./assets/food-outline-icon-on-blue-background-breakfast-background-seamless-pattern-for-printing-wallpaper-decoration-illustration-free-vector.jpeg");
}
main{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: auto;
  min-width: 480px;
}
/**************************
AUTH PAGES - LOGIN SIGNUP
**************************/
.header {
  text-align: center;
}

.login-page {
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url('https://itk-assets.nyc3.cdn.digitaloceanspaces.com/2021/04/Screen-Shot-2021-04-15-at-10.45.48-AM-scaled.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}
.title {
  position: relative;
  top: -5%;
  width: 45vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
  margin: 0 auto;
  padding: 3%;
  background-color: orange;
  opacity: 0.8;
  font-family: 'Rampart One', cursive;
  border: 3px solid white;
}

.login-container {
  background-color: rgba(245, 245, 245, 0.85);
  border-radius: 6px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.85);
  position: relative;
  top: -15%;
  width: 400px;
  margin: 0 auto;
}

.login-form {
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.login-input {
  display: grid;
  grid-template-columns: 80px 160px;
  justify-content: center;
  align-items: center;
  color: rgb(30, 30, 30);
  padding: 10px;
  margin: 5px;
}

.login-input>label {
  display: grid;
  align-items: center;
  height: 26px;
}

.login-input>input {
  background-color: white;
  color: rgb(0, 0, 0);
  height: 24px;
  border: 2px solid rgb(120, 120, 200);
  border-radius: 4px;
}

.login-button,
.signup-button {
  display: grid;
  margin: 10px auto;
  grid-column: span 2;
  width: 120px;
  background-color: rgb(120, 120, 200);
  color: white;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  text-align: center;
  color: red;
}

.toggle-text {
  text-align: center;
  margin: 10px auto;
  justify-content: center;
}

.toggle-text>span {
  color: rgb(80, 80, 200);
  cursor: pointer;
}

/**************************
NAV
**************************/
.nav-bar{
  height: 40px;
  width: 100%;
  background-color: rgb(65, 65, 130);
  color: white;
}
.nav-bar-contents {
  margin: 10px auto;
  max-width: 1024px;
}
.nav-left {
  float: left;
  margin-left: 20px;
}

.nav-right {
  float: right;
  margin-right: 20px;
}
/**************************
LINKS
**************************/
.link{
  color: pink;
}
/**************************
MAIN PAGE
**************************/
h2 {
  margin: 20px auto;
  text-align: center;
  background-color: white;
  padding: 10px;
  width: 80%;
  border-radius: 12px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.85);
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
  padding: 20px;
}

.recipe-card,
.recipe-card-plus {
  display: grid;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  font-size: 32px;
  margin: 10px;
  border-radius: 10px;
  color: rgb(120, 65, 165);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.85);
  cursor: pointer;
 text-align: center;
}

.recipe-card-plus {
  font-size: 120px;
}

.recipe-description {
  word-wrap: break-word;
  font-size: small;
  text-align: center;
}

/**************************
CREATE PAGE
**************************/
.create-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding: 0px;
}

.create-left-grid,
.create-right-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 450px;
  margin: 16px 20px;
}

.recipe-title-container,
.recipe-description-container,
.recipe-ingredients-container,
#steps-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.85);
}

.recipe-description-container {
  margin: 10px 0;
}

.create-page-labels {
  padding: 5px;
  font-weight: bold;
}
.new-step{
  margin-top: 5px 0;
  margin-bottom: 5px;
}
textarea {
  resize: none;
  width: 400px;
  height: 60px;
  border: 2px solid rgb(120, 120, 200);
  border-radius: 4px;
}

.create-inputs {
  height: 24px;
  border: 2px solid rgb(120, 120, 200);
  border-radius: 4px;
}

#recipe-title-input {
  width: 320px;
}

#recipe-ingredients-input {
  width: 360px;
}

.create-page-buttons,
.create-recipe-button {
  margin: 0 auto;
  margin-top: 0px;
  width: 120px;
  background-color: rgb(100, 100, 165);
  color: white;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}
.create-recipe-button {
  /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 1); */
  border: 2px solid whitesmoke;
  background-color: rgb(70, 70, 140);
  font-size: 24px;
  margin-bottom: 36px;
  border-radius: 8px;
}
.create-container {
  display: grid;
  justify-content: center;
  align-items: center;
}
.input-group{
  display: grid;
  grid-template-columns: auto 40px;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}
.delete-container{
  margin: 0 auto;
}
.delete-container>button{
  background-color: rgb(225, 65, 65);
  color: white;
  font-size: large;
  font-weight: bolder;
  border-radius: 4px;
  cursor: pointer;
}

.pic {
  margin-top: 2%;
}

/**************************
USER RECIPES
**************************/
.card-buttons-container{
  display: grid;
  grid-template-columns: 35% 35%;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
.update-button, .delete-button{
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.update-button{
  background-color: rgb(65, 75, 135);
}
.delete-button{
  background-color: rgb(175, 40, 40);
}
/**************************
MISC STUFF
**************************/
::-webkit-input-placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: gray;
  text-align: left;
}

:-moz-placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: gray;
  text-align: left;
}

::-moz-placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: gray;
  text-align: left;
}

::-ms-input-placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: gray;
  text-align: left;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/**************************
Detail page
**************************/

.detail-container {
  /* border: solid black 2px; */
  text-align: center;
  margin-bottom: 60px;
}

/**************************
Footer page
**************************/

.footer {
  margin-top: 5%;
  background-color: black;
  color: white;
  height: 90px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  opacity: 0.85;
}
.copy {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1750px) {
  .title {
    font-size: 50px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .title {
    font-size: 30px;
    width: 60vw;
  }
  .login-container {
    width: 300px;
  }
}